.actions {
    position: absolute;
    z-index: 999;
    display: flex;
    bottom: 3%;
    left: 3%;
}
  
.actions .button {
    cursor: pointer;
    background: #fff;
    height: 40px;
    z-index: 999;
    width: 130px;
    border-radius: 30px;
    margin-right: 10px;
}
  
.controls {
    position: absolute;
    width: 100%;
    display: flex;
    flex: 1;
    z-index: 999;
    justify-content: center;
    flex-direction: row;
    top: 0;
}
  
.controls p {
    font-family: monospace;
    z-index: 999;
    color: white;
}
.hidden {
    display: none;
}
  